body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #10E6CD;
    background-color: #262626;}

/* Style the navbar */
#navigation {
  overflow: hidden;
  background-color: #000000;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 56px;
}

/*Align the div for the Links to the right side*/
.navigation_links {
    width: auto;
    float: right;
}

/* links in der Navbar --- Links werden als Klasse angeprochen, damit der Link hinter dem Logo sein eigenes Design haben kann  */
a.normal {
  float: left;
  font-size: 18px;
  font-weight: 800px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 22px;
}
/* Hier wird das Design für das Logo, was auch als Link fungiert, definiert*/
a.logo{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 57px;
    text-align:  center;
    vertical-align: middle;
    line-height: 57px;
    }

/*make links tourquise when hovering*/
#navigation a:hover {
    color: #10E6CD
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*Der Footer wird hier designt*/
 .footer {
    width: 100%; 
    height: 174px; 
    float: left; 
    background-color: #262626; 
    margin: auto}
    
    .footer_box{
    width: 20%; 
    height: 100px; 
    float: left; 
    background-color: #262626; 
    float: left; 
    margin: 10px 35px; 
    }
        
    .footer_text {
    text-align: left; 
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; 
    font-size: 16px;
    margin: 2px;
    }
        
    a.logo_footer{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align:  center;
    }
        
    .footer_h {
    text-align: left; 
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800; 
    font-size: 16px;  
    line-height: 20px;
    display: flex; 
    align-items: center;
    }

/*Die Registerkarten*/
.car {
    width: 278px;
    height: 303px;
    background-color:#b3b3b3;
    border-radius: 16px;
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.25);
    float: left;
    height: 150px;
    margin: 1% 1% 2% 2%;
    padding: 10px 10px 10px 10px}


.logo{
    font-family: 'Racing Sans One', cursive;}

/* content */
.content{
        width: 100%;
        height: 665px;
        }

h2{font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    align-items: center;
    color: #8AF6E9;
    }

/* car.description */
.car.description{
    width: 70%;
    height: 250px;
    background: #3C3C3C;
    }

 .autobild{ float: left;
    width: 400px;}

 .text.car.description
    {float: right;
    width: 50%;
    height: 250px;}


.stadt.auto{float: left;}

  /* Auswählen */
.button.orange{float:right;
    width: 100px;
    height: 30px;
    background: #EF5C21;
    box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.5);

    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;}

/* hinweis */
.hinweis{
width: 400px;
height: 17px;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

color: #262626;

background: #FFFFFF;
box-shadow: 0px 7px 4px 7px rgba(0, 0, 0, 0.5);}

/* Style für die Homepage */

/* Dynamisches Element: Festes Hintergrundbild scrollender Text */
body, html {
  height: 5000px;
}

.parallax_1 {
  /* The image used */
  background-image: url('images/background-home.jpg');

  /* Full height */
  height: 602px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_2 {
    /* The image used */
    background-image: url('images/background-home.jpg');

    /* Full height */
    height: 7.5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax_3 {
      /* The image used */
      background-image: url('images/background-home.jpg');

      /* Full height */
      height: 25%;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  /* Filter_klein */

.filter_klein {
  position: absolute;
  width: 430px;
  height: 395px;
  left: 6%;
  top: 19.7%;
  background: #262626;
  border-radius: 16px;
 }

/* Filterbox_Ort */

 .filterbox_Ort {
   position: absolute;
     width: 308px;
     height: 35.57px;
     left: 49px;
     top: 192.93px;
     background-color: #555555;
     border-style: black, solid, 2px;
     border-radius: 2px;}

/* Filterbox_Datum*/

.filterbox_Datum {
        position: absolute;
          width: 142px;
          height: 35.57px;
          left: 49px;
          top: 270.39px;
          background-color: #555555;
          border-style: black, solid, 2px;
          border-radius: 2px;}

/* Auf geht's button */
.button_aufgehts {
          position: absolute;
          width: 121px;
          height: 35px;
          left: 236px;
          top: 335px;
          background: #EF5C21;
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
          border-radius: 3px;}

/* Contentbereich1_Homepage*/
.Contentbereich1_Homepage {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 658px;
  background-color: #3C3C3C;
}

/* Contentbereich2_Homepage*/
.Contentbereich2_Homepage {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 1358px;
  background-color: #3C3C3C;
}

/* Teaser Kreise */

.Teaserkreis {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 10%;
  top: 220px;
  border: 1px;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
}
