body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #10E6CD;
    background-color: #262626;
    margin: 0;
    }
/* Style the navbar */
.navigation {
  overflow: hidden;
  background-color: #000000;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 3;
}

/*Align the div for the Links to the right side*/
.navigation_links {
    width: auto;
    float: right;
}

/* links in der Navbar --- Links werden als Klasse angeprochen, damit der Link hinter dem Logo sein eigenes Design haben kann  */
a.normal {
  float: left;
  font-size: 18px;
  font-weight: 800px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 22px;
}
/* Hier wird das Design für das Logo, was auch als Link fungiert, definiert*/
a.logo{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 57px;
    text-align:  center;
    vertical-align: middle;
    line-height: 57px;
    padding-left: 1%;
    }

/*make links tourquise when hovering*/
.navigation a:hover {
    color: #10E6CD
    }


/*Das Bild, was als anmeldebutton dient, wird hier designt*/
.anmelden_img {
    height: 25px;
}

/*Der Footer wird hier designt*/
 .footer {
    width: 100%;
    height: 174px;
    float: left;
    background-color: #262626;
    margin: auto}

    .footer_box{
    width: 20%;
    height: 100px;
    float: left;
    background-color: #262626;
    float: left;
    margin: 10px 35px;
    }

    .footer_text {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 2px;
    color: #ffffff;
    }

    .footer_links {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin: 2px;
    text-align: left;
    }

    a.footer_links:hover {
    color: #10E6CD
    }

    a.logo_footer{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align:  center;
    }

    .footer_h {
    text-align: left;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    }

    .footer_links{
    text-decoration: none;
    }
    
/*Produktübersichtsseite -> Alles was mit den Filtern zu tun hat*/
    .Filterbox{
    width: 95%;
    background: #3C3C3C;
    height: auto;
    margin: auto;
    border-radius: 4px;
    padding-bottom: 10px;
    }

    .filterzeile{
        margin: auto;
    }

    .filter{
        float: left;
        margin-left: 2.109375%;
    }

    input[type=submit]{
        width: auto;
        min-width: 9.453125%;
        height: 35px;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
        background-color: #EF5C21;
        border: none;
        border-radius: 3px; 
        color: #ffffff;    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }

    input[type=date]{
        width: 121px;
        height: 35px;
        background-color: rgba(217,217,217, 0.26);
        border: 1px solid black;
        border-radius: 3px;
        color: white;
    }

    input[type=number]{
        width: 121px;
        height: 35px;
        background-color: rgba(217,217,217, 0.26);
        border: 1px solid black;
        border-radius: 3px;
        color: white;
    }
    
     input[type=checkbox]{
        background-color: rgba(217,217,217, 0.26);
        border: 1px solid black;
        border-radius: 3px;
        color: white;
        height: 20px;
        width: 20px;
    }
        
    select {
        border: 1px solid black;
        border-radius: 3px;
        background-color:rgba(217,217,217, 0.26);
        color: white;
        height: 35px;
        padding-left: 1px;
        padding-right: 1px;
    }

    option[value=""][disabled] {
      display: none;
    }

    label {
        color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .dropbtn {
      background-color: #404040;
      color: white;
      font-size: 16px;
      height: 35px;
      border: none;
      border-radius: 3px;
      margin-left: 27px;
    }

    .dropbtn:hover, .dropbtn:focus {
      background-color: #10E6CD;
    }


    .dropdown {
        position: relative;
        display: inline;
    }

    .dropdown-content {
      display: none;
      position: relative;
      width: 100%;
      overflow: auto;
    }

    .show {display: block;}

   /* Produktübersichtsseite_initiel -> Hier wird das Begrüßungsbild, sowie der Text auf dem Begrüßeungsbild designt*/
      .content_car_background {
            background-image: url(street_background.jpg);
            height: 740px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .ubersicht_text {
            margin: auto;
            width: 600px;
            text-align: center;
            color: #ffffff;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600; 
        }

        /* Produktübersichtsseite -> Hier werden die Links für das Zurücksetzen der Filter und der gesamten Auswahl designt.*/

        a.zurucksetzen {
        color: #ffffff;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        line-height: 35px;
        }
        
        .zurucksetzen:hover{
            color: #10E6CD;
        }


/*Die Registerkarten*/
    .car {
        width: 278px;
        height: 303px;
        background-color:#b3b3b3;
        border-radius: 16px;
        box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.25);
        float: left;
        margin: 2% 1% 2% 1%;
        padding: 10px 10px 10px 10px;
    }
    
    .car_img {
        width: 218px;
        height:  111px;
        margin-top: 9px;
        margin-left: 22px;
    }

    .car_img_img{
        width: 100%;
        height: 100%;
        }
    
    .autoname {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
        margin-top: 16px;
        margin-left: 22px;
        }

    .autotyp {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-left: 22px;  
        }

    .anzahl {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: 22px;
        margin-top: 10px;
        }

    .preis {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #EF5C21;
        margin-left: 22px;
        margin-top: 11px;
        }

    .gesamtpreis {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-left: 23px;
        }

/* content auf der Produktübersichtsseite */
.content_car{
        width: 95%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        }

/*Die Tabelle auf der meine Buchungen Seite. Sie ist in einen immer gleich großen Div eingebettet*/
    .buchungen_table_div {
        width: 1178px;
        background: #3C3C3C;
        border-radius: 16px;
        height: 494px;
    } 

     .tabelleninfos {
            display: flex;
            justify-content: space-between; 
            padding-left: 10px;
            padding-right: 10px;  
        }
        
        .tabelleninfos_text{
            color:#ffffff;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px
        }
    
        .paging_button {
        color: #ffffff;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 35px;
        }

        .paging_button:hover{
            color: #10E6CD;
        }

        .buchungen_table {
            border-collapse: collapse;
            width: 100%;
        }
        
        .table_header {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            align-items: center;
            color: #ffffff;
            border-bottom: 3pt solid #10E6CD;
            height: 65px;
            padding-left: 10px;
        }
        
        .table_content {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            align-items: center;
            color: #ffffff;
            height: 65px;
            padding-left: 5px;
        }
        
        .table_img {
            height: 65px;
        }
        
        .buchungen_td {
           padding-left: 5px;
        }


.logo{
    font-family: 'Racing Sans One', cursive;}


/* Style für die Homepage */

/* Homepage: Dynamisches Element 1 - Festes Hintergrundbild scrollender Text */

      .parallax_1 {
        background-image: url('images/background-home.jpg');
        z-index: 1;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

  /* Homepage: Filter_klein */

      .filter_klein {
        z-index: 2;
        position: absolute;
        width: 30%;
        height: 50%;
        left: 6%;
        top: 22.7%;
        background: #262626;
        border-radius: 16px;
       }

       /* Homepage: Überschrift 1 (klein) */

       .Eine_Fahrt_Mit {
         position: absolute;
         left: 11%;
         top: 10%;
         font-family: 'Montserrat', normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         display: flex;
         align-items: center;
         color: #FFFFFF;
        }

          /* Homepage: Überschrift 1 (Logo) */

        .Logo_kl_w {
          position: absolute;
          left: 26.8%;
          top: 9.225%;
          font-family: 'Racing Sans One', cursive;
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }

        /* Homepage: Überschrift 2 (groß) */

        .Klick_zu_Hause {
          position: absolute;
          left: 11%;
          top: 15%;
          font-family: 'Montserrat',
          normal; font-weight: 800;
          font-size: 40px;
          line-height: 54px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }

       /* Homepage: Filterbox Ort */

          .Filterüberschrift_Ort {
            position: absolute;
            left: 11%;
            top: 45%;
            font-family: 'Montserrat', normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }

           .option_filter {
             font-family: 'Montserrat';
             font-style: normal;
             font-weight: 400;
             font-size: 14px;
             color: #FFFFFF;
             background-color: #262626;
           }

       /* Homepage: Filterbox Datum */

          .Filter_Datum_Von {
            position: absolute;
            left: 11%;
            top: 62%;
            font-family: 'Montserrat', normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }

          .Filter_Datum_Bis {
            position: absolute;
            left: 52%;
            top: 62%;
            font-family: 'Montserrat', normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }

          .Kalenderbox {
            font-family: 'Montserrat', normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }

        /* Auf geht's button */

          .button_aufgehts {
            position: absolute;
            width: 121px;
            height: 35px;
            left: 60%;
            top: 82%;
            background: #EF5C21;
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            transition-duration: 0.4s;
            cursor: pointer
          }

          .button_aufgehts_1 {
            background-color:#ef5c21;}

          .button_aufgehts_1:hover {
              background-color: #bf400d;}

              /* Auf geht's button (Schriftzug)*/

               .auf_gehts_Home {
                 position: absolute;
                 width: 90px;
                 height: 20px;
                 left: 16px;
                 top: 7px;
                 font-family:'Montserrat';
                 font-style: normal;
                 font-weight: 800;
                 font-size: 16px;
                 line-height: 20px;
                 display: flex;
                 align-items: center;
                 color: #FFFFFF;
               }

  /* Locations Sprungmarke */
      #Locations {
        position: absolute;
        top: 80%;
      }

/* Homepage: Standortübersicht in Deutschland*/

      .Contentbereich1_Homepage {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 600px;
        top: 858px;
        background-color: #3C3C3C;
      }

          /* Homepage: Pinnadeln auf der Deutschlandkarte */

            /* Homepage: Pinnadel Berlin */

            .Pin_BER:link {
              position: absolute;
              top: 25.5%;
              left: 27.5%;
              height: 10%;
              width: 2.5%;
              background-image: url('images/Pin.png');
              background-repeat: no-repeat;
              }

            .Pin_BER:hover {
                position: absolute;
                top: 25.5%;
                left: 27.5%;
                height: 10%;
                width: 2.5%;
                background-image:url("images/Pin_Orange.png");
                background-repeat: no-repeat;
              }

              /* Homepage: Pinnadel Bielefeld */

              .Pin_BI:link {
                position: absolute;
                top: 32%;
                left: 16.5%;
                height: 10%;
                width: 2.5%;
                background-image: url('images/Pin.png');
                background-repeat: no-repeat;
                }

              .Pin_BI:hover {
                  position: absolute;
                  top: 32%;
                  left: 16.5%;
                  height: 10%;
                  width: 2.5%;
                  background-image:url("images/Pin_Orange.png");
                  background-repeat: no-repeat;
                }

                /* Homepage: Pinnadel Bochum*/

                .Pin_BO:link {
                  position: absolute;
                  top: 37%;
                  left: 13%;
                  height: 10%;
                  width: 2.5%;
                  background-image: url('images/Pin.png');
                  background-repeat: no-repeat;
                  }

                .Pin_BO:hover {
                    position: absolute;
                    top: 37%;
                    left: 13%;
                    height: 10%;
                    width: 2.5%;
                    background-image:url("images/Pin_Orange.png");
                    background-repeat: no-repeat;
                  }

                /* Homepage: Pinnadel Bremen */

                .Pin_BR:link {
                  position: absolute;
                  top: 19%;
                  left: 17%;
                  height: 10%;
                  width: 2.5%;
                  background-image: url('images/Pin.png');
                  background-repeat: no-repeat;
                  }

                .Pin_BR:hover {
                    position: absolute;
                    top: 19%;
                    left: 17%;
                    height: 10%;
                    width: 2.5%;
                    background-image:url("images/Pin_Orange.png");
                    background-repeat: no-repeat;
                  }

                  /* Homepage: Pinnadel Dortmund */

                  .Pin_DO:link {
                    position: absolute;
                    top: 36%;
                    left: 14%;
                    height: 10%;
                    width: 2.5%;
                    background-image: url('images/Pin.png');
                    background-repeat: no-repeat;
                    }

                  .Pin_DO:hover {
                      position: absolute;
                      top: 36%;
                      left: 14%;
                      height: 10%;
                      width: 2.5%;
                      background-image:url("images/Pin_Orange.png");
                      background-repeat: no-repeat;
                    }

                    /* Homepage: Pinnadel Dresden */

                    .Pin_DR:link {
                      position: absolute;
                      top: 43%;
                      left: 29.25%;
                      height: 10%;
                      width: 2.5%;
                      background-image: url('images/Pin.png');
                      background-repeat: no-repeat;
                      }

                    .Pin_DR:hover {
                        position: absolute;
                        top: 43%;
                        left: 29.25%;
                        height: 10%;
                        width: 2.5%;
                        background-image:url("images/Pin_Orange.png");
                        background-repeat: no-repeat;
                      }

                      /* Homepage: Pinnadel Freiburg */

                      .Pin_FR:link {
                        position: absolute;
                        top: 80%;
                        left: 14.5%;
                        height: 10%;
                        width: 2.5%;
                        background-image: url('images/Pin.png');
                        background-repeat: no-repeat;
                        }

                      .Pin_FR:hover {
                          position: absolute;
                          top: 80%;
                          left: 14.5%;
                          height: 10%;
                          width: 2.5%;
                          background-image:url("images/Pin_Orange.png");
                          background-repeat: no-repeat;
                        }

                        /* Homepage: Pinnadel Hamburg */

                        .Pin_HH:link {
                          position: absolute;
                          top: 12.75%;
                          left: 19.75%;
                          height: 10%;
                          width: 2.5%;
                          background-image: url('images/Pin.png');
                          background-repeat: no-repeat;
                          }

                        .Pin_HH:hover {
                            position: absolute;
                            top: 12.75%;
                            left: 19.75%;
                            height: 10%;
                            width: 2.5%;
                            background-image:url("images/Pin_Orange.png");
                            background-repeat: no-repeat;
                          }

                          /* Homepage: Pinnadel Köln */

                          .Pin_KÖLN:link {
                            position: absolute;
                            top: 40%;
                            left: 12.5%;
                            height: 10%;
                            width: 2.5%;
                            background-image: url('images/Pin.png');
                            background-repeat: no-repeat;
                            }

                          .Pin_KÖLN:hover {
                              position: absolute;
                              top: 40%;
                              left: 12.5%;
                              height: 10%;
                              width: 2.5%;
                              background-image:url("images/Pin_Orange.png");
                              background-repeat: no-repeat;
                            }

                            /* Homepage: Pinnadel Leipzig */

                            .Pin_LEI:link {
                              position: absolute;
                              top: 40.5%;
                              left: 25.5%;
                              height: 10%;
                              width: 2.5%;
                              background-image: url('images/Pin.png');
                              background-repeat: no-repeat;
                              }

                            .Pin_LEI:hover {
                                position: absolute;
                                top: 40.5%;
                                left: 25.5%;
                                height: 10%;
                                width: 2.5%;
                                background-image:url("images/Pin_Orange.png");
                                background-repeat: no-repeat;
                              }

                              /* Homepage: Pinnadel München */

                              .Pin_MÜN:link {
                                position: absolute;
                                top: 77.5%;
                                left: 24.5%;
                                height: 10%;
                                width: 2.5%;
                                background-image: url('images/Pin.png');
                                background-repeat: no-repeat;
                                }

                              .Pin_MÜN:hover {
                                  position: absolute;
                                  top: 77.5%;
                                  left: 24.5%;
                                  height: 10%;
                                  width: 2.5%;
                                  background-image:url("images/Pin_Orange.png");
                                  background-repeat: no-repeat;
                                }

                                /* Homepage: Pinnadel Nürnberg */

                                .Pin_NÜR:link {
                                  position: absolute;
                                  top: 63%;
                                  left: 22%;
                                  height: 10%;
                                  width: 2.5%;
                                  background-image: url('images/Pin.png');
                                  background-repeat: no-repeat;
                                  }

                                .Pin_NÜR:hover {
                                    height: 10%;
                                    width: 2.5%;
                                    background-image:url("images/Pin_Orange.png");
                                    background-repeat: no-repeat;
                                  }

                                  /* Homepage: Pinnadel Paderborn */

                                  .Pin_PA:link {
                                    position: absolute;
                                    top: 36%;
                                    left: 16.75%;
                                    height: 10%;
                                    width: 2.5%;
                                    background-image: url('images/Pin.png');
                                    background-repeat: no-repeat;
                                    }

                                  .Pin_PA:hover {
                                      position: absolute;
                                      top: 36%;
                                      left: 16.75%;
                                      height: 10%;
                                      width: 2.5%;
                                      background-image:url("images/Pin_Orange.png");
                                      background-repeat: no-repeat;
                                    }

                                    /* Homepage: Pinnadel Rostock */

                                    .Pin_RO:link {
                                      position: absolute;
                                      top: 7%;
                                      left: 24%;
                                      height: 10%;
                                      width: 2.5%;
                                      background-image: url('images/Pin.png');
                                      background-repeat: no-repeat;
                                      }

                                    .Pin_RO:hover {
                                        position: absolute;
                                        top: 7%;
                                        left: 24%;
                                        height: 10%;
                                        width: 2.5%;
                                        background-image:url("images/Pin_Orange.png");
                                        background-repeat: no-repeat;
                                      }


          /* Homepage: Textbox Contentbereich 1 */

          .Logo_gr_t {
            position: absolute;
            left: 980px;
            top: 56px;
            font-family: 'Racing Sans One', cursive;
            font-weight: 400;
            font-size: 40px;
            line-height: 50.4px;
            display: flex;
            align-items: center;
            color: #10E6CD;
          }

          .Überschrift_Teaser_Standorte {
            position: absolute;
            font-family: 'Montserrat', normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 36.57px;
            display: flex;
            align-items: center;
            color: #10E6CD;
          }

          .Teaser_Standorte {
            position: absolute;
            height: 110px;
            width: 516px;
            left: 980px;
            top: 157px;
            font-family: 'Montserrat', normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #FFFFFF;
          }


/* Homepage: Teaser der Autokategorien*/

    .Contentbereich2_Homepage {
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 600px;
      top: 1558px;
      background-color: #3C3C3C;
    }

      /* Teaser Kreise */

      .Autokategorie{
        position: absolute;
        z-index:2;
        top: 75%;
        font-family: 'Montserrat', normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      .Teaserkreis:link {
        z-index:1;
        position: absolute;
        width: 14%;
        height: 45%;
        left: 3%;
        top: 220px;
        border: 1px;
        border-color: #FFFFFF;
        border-style: solid;
        border-radius: 50%;
      }

        .Teaserkreis:hover {
          z-index:1;
          position: absolute;
          width: 14%;
          height: 45%;
          left: 3%;
          top: 220px;
          background-color: #FFFFFF;
          border: 1px;
          border-color: #FFFFFF;
          border-style: solid;
          border-radius: 50%;
        }

        .Autokategorie:hover {
          position: absolute;
          z-index:3;
          font-family: 'Montserrat', normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #262626;
        }

     .Teaserkreis:visited {
          z-index:2;
          position: absolute;
          width: 200px;
          height: 200px;
          left: 3%;
          top: 220px;
          border: 1px;
          border-color: #FFFFFF;
          border-style: solid;
          border-radius: 50%;
        }

        .Teaserkreis:active {
          z-index:2;
          position: absolute;
          width: 200px;
          height: 200px;
          left: 3%;
          top: 220px;
          border: 1px;
          border-color: #FFFFFF;
          border-style: solid;
          border-radius: 50%;
        }

/*Produktdetailseite*/
.contentdetail{
    width: 100%;
    height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cardescription{
    position: relative;
    width: 1106px;
    height: 290px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.bild_modell_carsdescription{
  position: absolute;
  left: 2%;
  top: 5%;
    width: 460px;
    height: 290px;
    display: grid;
    justify-content: center;
    align-items: center;
    float: left;
}

/*Das Bild in der Detailkarte, links*/
 .autobild{
   width: 400px;
   height: 202px;
   float: left;
}

img{
  max-width: 100%;
  max-height: 100%;
}

/*Der Text in der Detailkarte, rechts*/
.text_cardescription{
    width: 630px;
    height: 290px;
    position: absolute;
    left: 40%;
    top: 4%;
    float: right;
    display: grid;
    justify-content: center;
    align-items: center;
  }

.zeile1{
  position: absolute;
  left: 10%;
  top: 0%;

    width: 550px;
    height: 60px;
    font-size: 17px;
    border-bottom: 1px solid #10E6CD;
    line-height: 21px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    vertical-align: middle;
}

.zeitraum{
    width: 250px;
    height: 23px;
    font-size: 17px;
    float: left;
    text-align: center;
}

.vonbis{
    box-sizing: border-box;
    float: left;
    width: 86px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    background: rgba(60, 60, 60, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.zeile2{
    width: 550px;
    height: 61px;
    position: absolute;
    left: 10%;
    top: 25%;
    border-bottom: 1px solid #10E6CD;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_zeile2{
  width: 21px;
  height: 31px;
  position: absolute;
  left: 10%;
  top: 20%;

}

.links_zeile2{
  width: 200px;
  height: 50px;
  position: absolute;
  left: 15%;
  top: 9%;
}

.rechts_zeile2{
  width: 120px;
  height: 50px;
  position: absolute;
  left: 53%;
  top: 12%;
}

.textblau{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
  align-items: center;
  color: #10E6CD;
}

.zeile3{
    width: 550px;
    height: 110px;
    position: absolute;
    left: 10%;
    top: 50%;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{font-size: 20px;}

.table_zeile3{
    width: 474px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 9%;
}

.infozeile3{
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #10E6CD;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.untercardescription{
    width: 1106px;
    height: 234px;
}

.untercardescriptionlinks{
    width: 258px;
    height: 180px;
    float: left;
}

.untercardescriptionrechts{
    width: 848px;
    height: 180px;
}

.tableuntercarrechts{
  width: 848px;
  height: 180px;
}

.preise{
  height: 45px;
  vertical-align: top;
  border-bottom: 1px solid #ffffff;
}

.auswahlen{
  height: 85px;
  vertical-align: top;
}

.einloggen{
  height: 50px;
  vertical-align: top;
}

.preis{
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #10E6CD;
  float: right;
}

.gesamtpreis{
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
}

.modellheading {
  width: 224px;
  color: rgba(138,246,233,1);

  font-weight: 800;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.ortheading {
  width: 226px;
  color: rgba(16,230,205,1);
  line-height: 25px;
  font-weight: 800;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}

.buttonorange {
    float: right;
    width: 230px;
    height: 50px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonorange_b {
  cursor: pointer;
  float: right;
  width: 230px;
  height: 50px;
  background: rgba(239,92,33,1);
  opacity: 1;

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      overflow: hidden;

      color: #ffffff;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
      display: inline-block;
      align-items: center;
      justify-content: center;
}

.buttonorange_b:hover {
  background: #EF5C21;
  box-shadow: 2px 0px 2px 3px rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: white;
}

.hinweis {
   float: right;
   width: 440px;
   height: 29px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
        }

.hinweis_b{
  cursor: pointer;
  width: 440px;
  height: 29px;
  background: #ffffff;
  opacity: 1;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  color: #262626;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.hinweis_b:hover{
  background: #ffffff;
  box-shadow: 2px 0px 2px 3px rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: #262626;
}

/* Fehlermeldung Produktübersicht*/

.Fehlermeldung_Produktübersicht {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 27%;
    width: 821px;
    height: 335px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 16px;
   }


/* statische Seiten */
.contentstatisch{
  width: 100%;
  max-height: 3200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statischertext{
  width: 979px;
  max-height: 2686px;
  padding:80px;
}

.static_h{
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #FFFFFF;}

.static_p{
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
