body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #10E6CD;
    background-color: #262626;}
/* Style the navbar */
.navigation {
  overflow: hidden;
  background-color: #000000;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 3;
}

/*Align the div for the Links to the right side*/
.navigation_links {
    width: auto;
    float: right;
}

/* links in der Navbar --- Links werden als Klasse angeprochen, damit der Link hinter dem Logo sein eigenes Design haben kann  */
a.normal {
  float: left;
  font-size: 18px;
  font-weight: 800px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 22px;
}
/* Hier wird das Design für das Logo, was auch als Link fungiert, definiert*/
a.logo{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 57px;
    text-align:  center;
    vertical-align: middle;
    line-height: 57px;
    }

/*make links tourquise when hovering*/
.navigation a:hover {
    color: #10E6CD
    }


/*Das Bild, was als anmeldebutton dient, wird hier designt*/
.anmelden_img {
    height: 25px;
}

/*Der Footer wird hier designt*/
 .footer {
    width: 100%;
    height: 174px;
    float: left;
    background-color: #262626;
    margin: auto}

    .footer_box{
    width: 20%;
    height: 100px;
    float: left;
    background-color: #262626;
    float: left;
    margin: 10px 35px;
    }

    .footer_text {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 2px;
    color: #ffffff;
    }

    .footer_links {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin: 2px;
    text-align: left;
    }

    a.footer_links:hover {
    color: #10E6CD
    }

    a.logo_footer{
    font-family: 'Racing Sans One', cursive;
    color: #10E6CD;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align:  center;
    }

    .footer_h {
    text-align: left;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    }

    .footer_links{
    text-decoration: none;
    }

/*Die Registerkarten*/
.car {
    width: 278px;
    height: 303px;
    background-color:#b3b3b3;
    border-radius: 16px;
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.25);
    float: left;
    height: 150px;
    margin: 1% 1% 2% 2%;
    padding: 10px 10px 10px 10px}


.logo{
    font-family: 'Racing Sans One', cursive;}

/* content */
.content{
        width: 100%;
        height: 665px;
        }

h2{font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    align-items: center;
    color: #8AF6E9;
    }

/* car.description */
.car.description{
    width: 70%;
    height: 250px;
    background: #3C3C3C;
    }

 .autobild{ float: left;
    width: 400px;}

 .text.car.description
    {float: right;
    width: 50%;
    height: 250px;}


.stadt.auto{float: left;}

  /* Auswählen */
.button.orange{float:right;
    width: 100px;
    height: 30px;
    background: #EF5C21;
    box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.5);

    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;}

/* hinweis */
.hinweis{
width: 400px;
height: 17px;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

color: #262626;

background: #FFFFFF;
box-shadow: 0px 7px 4px 7px rgba(0, 0, 0, 0.5);}

/* Style für die Homepage */

/* Dynamisches Element: Festes Hintergrundbild scrollender Text */
body, html {
  height: 160%;
}

.parallax_1 {
  /* The image used */
  background-image: url('images/background-home.jpg');
  z-index: 1;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  /* Filter_klein */

.filter_klein {
  z-index: 2;
  position: absolute;
  width: 430px;
  height: 395px;
  left: 6%;
  top: 22.7%;
  background: #262626;
  border-radius: 16px;
 }

/* Filterbox_Ort */

 .filterbox_Ort {
   position: absolute;
     width: 308px;
     height: 35.57px;
     left: 49px;
     top: 192.93px;
     background-color: #555555;
     border-style: black, solid, 2px;
     border-radius: 2px;}

/* Filterbox_Datum*/

.filterbox_Datum {
        position: absolute;
          width: 142px;
          height: 35.57px;
          left: 49px;
          top: 270.39px;
          background-color: #555555;
          border-style: black, solid, 2px;
          border-radius: 2px;}

/* Auf geht's button */
.button_aufgehts {
          position: absolute;
          width: 121px;
          height: 35px;
          left: 236px;
          top: 335px;
          background: #EF5C21;
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
          border-radius: 3px;
          transition-duration: 0.4s;
          cursor: pointer
}

.button_aufgehts_1 {
  background-color:#ef5c21;}

.button_aufgehts_1:hover {
    background-color: #bf400d;}

/* Contentbereich1_Homepage*/
.Contentbereich1_Homepage {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 858px;
  background-color: #3C3C3C;
}

/* Contentbereich2_Homepage*/
.Contentbereich2_Homepage {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 1558px;
  background-color: #3C3C3C;
}

/* Teaser Kreise */

.Teaserkreis {
  z-index:2;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 3%;
  top: 220px;
  border: 1px;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
}

/*Produktdetailseite*/
.contentdetail{
    width: 100%;
    height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cardescription{
    width: 1106px;
    height: 290px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.bild_modell_carsdescription{
    width: 460px;
    height: 290px;
    display: grid;
    justify-content: center;
    align-items: center;
    float: left;
}

/*Das Bild in der Detailkarte, links*/
 .autobild{
   width: 400px;
   height: 202px;
   float: left;
}

img{
  max-width: 100%;
  max-height: 100%;
}

/*Der Text in der Detailkarte, rechts*/
.text_cardescription{
    width: 630px;
    height: 290px;
    float: right;
    display: grid;
    justify-content: center;
    align-items: center;
  }

.zeile1{
  width: 550px;
  height: 60px;
  font-size: 17px;
  border-bottom: 1px solid #10E6CD;
  line-height: 21px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  vertical-align: middle;
}

.zeitraum{
  width: 250px;
  height: 23px;
  font-size: 17px;
  float: left;
  text-align: center;
}

.vonbis{
  box-sizing: border-box;
  float: left;
  width: 86px;
  height: 23px;
  font-size: 14px;
  text-align: center;
  background: rgba(60, 60, 60, 0.65);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.zeile2{
      width: 550px;
      height: 55px;
      border-bottom: 1px solid #10E6CD;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
}
.row{
  height: 100%;
}

.textblau{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
  align-items: center;
  color: #10E6CD;
}

.zeile3{
    width: 550px;
    height: 110px;

    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{font-size: 20px;}

.table{
    width: 474px;
}

.infozeile3{
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #10E6CD;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.untercardescription{
    width: 1106px;
    height: 234px;
}

.untercardescriptionlinks{
    width: 258px;
    height: 180px;
    float: left;
}

.untercardescriptionrechts{
    width: 848px;
    height: 180px;
}

.tableuntercarrechts{
  width: 848px;
  height: 180px;
}

.preise{
  height: 45px;
  vertical-align: top;
  border-bottom: 1px solid #ffffff;
}

.auswahlen{
  height: 85px;
  vertical-align: top;
}

.einloggen{
  height: 50px;
  vertical-align: top;
}

.preis{
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #10E6CD;
  float: right;
}

.gesamtpreis{
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
}

.modellheading {
  width: 224px;
  color: rgba(138,246,233,1);

  font-weight: 800;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.ortheading {
  width: 226px;
  color: rgba(16,230,205,1);
  line-height: 25px;
  font-weight: 800;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}

.buttonorange {
    float: right;
    width: 230px;
    height: 50px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonorange_b {
  cursor: pointer;
  float: right;
  width: 230px;
  height: 50px;
  background: rgba(239,92,33,1);
  opacity: 1;

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      overflow: hidden;

      color: #ffffff;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
      display: inline-block;
      align-items: center;
      justify-content: center;
}

.buttonorange_b:hover {
  background: #EF5C21;
  box-shadow: 2px 0px 2px 3px rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: white;
}

        .hinweis {
          float: right;
          width: 440px;
          height: 29px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

.hinweis_b{
  cursor: pointer;
  width: 440px;
  height: 29px;
  background: #ffffff;
  opacity: 1;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  color: #262626;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.hinweis_b:hover{
  background: #ffffff;
  box-shadow: 2px 0px 2px 3px rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: #262626;
}

/* Fehlermeldung Produktübersicht*/

.Fehlermeldung_Produktübersicht {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 27%;
    width: 821px;
    height: 335px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 16px;
   }
